<style>
/* Styles for modal pop up */
.ue-blur{
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.ue-modal-wrapper{
  width:100%;
  height:100%;
  position:fixed;
  top:0; left:0;
  background:rgba(255,257,153,0.75);
  visibility:hidden;
  opacity:0;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.ue-modal-wrapper.open{
  opacity:1;
  visibility:visible;
}

.ue-modal{
  width:600px;
  height:400px;
  display:block;
  margin:50% 0 0 -300px;
  position:relative;
  top:50%; left:50%;
  background:#fff;
  opacity:0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.ue-modal-wrapper.open .ue-modal{
  margin-top:-200px;
  opacity:1;
}

.ue-head{
  width:90%;
  height:32px;
  padding:1.5em 5%;
  overflow:hidden;
  background:#01bce5;
}

.ue-btn-close{
  width:32px;
  height:32px;
  display:block;
  float:right;
}

.ue-btn-close::before, .ue-btn-close::after{
  content:'';
  width:32px;
  height:6px;
  display:block;
  background:#fff;
}

.ue-btn-close::before{
  margin-top:12px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  transform:rotate(45deg);
}

.ue-btn-close::after{
  margin-top:-6px;
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -o-transform:rotate(-45deg);
  transform:rotate(-45deg);
}

.ue-content{
  padding:5%;
}

/* End of styles for modal */
.review-photo {
  cursor: pointer;
} 


.pagination {
  padding: 3px;
  margin: 3px;
}
.pagination a {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #aaaadd;
  text-decoration: none;
  color: #000099;
}
.pagination a:hover, .pagination a:active {
  border: 1px solid #000099;
  color: #000;
}
.pagination span.current {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #000099;
  font-weight: bold;
  background-color: #000099;
  color: #FFF;
}
.pagination span.disabled {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #eee;
  color: #ddd;
}
</style>

<% reviews.each do |review| %>
  <div class="review" style="border-bottom: 1px black solid; padding-top: 10px;">
    <div>
      <%= review.rating_stars(@shop.star_color) %>
    </div>
    <div style="padding-top:10px; padding-bottom: 10px;">
      <div>
        <b><%= review.title %> </b>
      </div>
      <div>
        <%= review.customer_name %>
      </div>
    </div>
    <div style="">
      <%= review.description %>
    </div>
    <div style="padding-bottom: 20px;">
      <div class="review-images-wrapper" data-review-id="<%= review.id %>">
        <% review.images.each do |image| %>
          <%= image_tag_remote(image.variant(resize: '100x100')) %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<div id='reviews-pagination'>
  <%= will_paginate @reviews , params: {daterange: @daterange} %>
</div>
<%# use js to prevent default and and make get with url %>

<div class="ue-page-wrapper">
  <a class="btn ue-trigger" href="javascript:;">Click Me!</a>
</div>
<div class="ue-modal-wrapper">
  <div class="ue-modal">
    <div class="ue-head">
      <a class="ue-btn-close ue-trigger" href="javascript:;"></a>
    </div>
    <div class="ue-content">
      adsfasdf
    </div>
  </div>
</div>