<style>
/* Styles for modal pop up */
.ue-blur{
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.ue-modal-wrapper{
  width:100%;
  height:100%;
  position:fixed;
  top:0; left:0;
  background:rgba(47, 47, 47, 0.6);
  visibility:hidden;
  opacity:0;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.ue-modal-wrapper.open{
  opacity:1;
  visibility:visible;
}

/* TODO: make modal responsive */
.ue-modal{
  width:600px;
  height:auto;
  display:block;
  margin:50% 0 0 -300px;
  position:relative;
  top:50%; left:50%;
  background:#fff;
  opacity:0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.ue-modal-wrapper.open .ue-modal{
  margin-top:-200px;
  opacity:1;
}

.ue-head{
  width:90%;
  height:32px;
  padding:1.5em 5%;
  overflow:hidden;
  background:#01bce5;
}

.ue-btn-close{
  width:32px;
  height:32px;
  display:block;
  float:right;
}

.ue-btn-close::before, .ue-btn-close::after{
  content:'';
  width:32px;
  height:6px;
  display:block;
  background:#fff;
}

.ue-btn-close::before{
  margin-top:12px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  transform:rotate(45deg);
}

.ue-btn-close::after{
  margin-top:-6px;
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -o-transform:rotate(-45deg);
  transform:rotate(-45deg);
}

.ue-content{
  padding:5%;
}

/* End of styles for modal */

/* Start of styles for slideshow */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* End of styles for slideshow */
.review-photo {
  cursor: pointer;
} 


.pagination {
  padding: 3px;
  margin: 3px;
}
.pagination a {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #aaaadd;
  text-decoration: none;
  color: #000099;
}
.pagination a:hover, .pagination a:active {
  border: 1px solid #000099;
  color: #000;
}
.pagination span.current {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #000099;
  font-weight: bold;
  background-color: #000099;
  color: #FFF;
}
.pagination span.disabled {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #eee;
  color: #ddd;
}

/* Style for rating stars */
.star-ratings-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 25px;
  height: 25px;
  width: 100px;
  margin: 0 auto;
  position: relative;
  text-shadow: 0 1px 0 #a2a2a2;
} 
.star-ratings-css::before { 
  content: '★★★★';
  opacity: .3;
}

[title=".000"]::after {
  width: 0%;
}
[title=".125"]::after {
  width: 12.5%;
}
[title=".250"]::after {
  width: 25%;
}
[title=".375"]::after {
  width: 37.5%;
}
[title=".500"]::after {
  width: 50%;
}
[title=".625"]::after {
  width: 62.5%;
}
[title=".750"]::after {
  width: 75%;
}
[title=".875"]::after {
  width: 87.5%;
}
.star-ratings-css::after {
  color: gold;
  content: '★★★★';
  text-shadow: 0 1px 0 #ab5414;
  position: absolute;
  z-index: 1;
  display: block;
  left: 0;
  top:0;
  width: attr(rating);
  overflow: hidden;
}

/*  */

.ue-rating {
  display: inline-block;
  unicode-bidi: bidi-override;
  color: #efefef;
  font-size: 25px;
  height: 25px;
  width: auto;
  margin: 0;
  position: relative;
  padding: 0;
}

.ue-rating-upper {
  color: #ffd700;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: flex;
  top: 0;
  left: 0;
  overflow: hidden;
}

.ue-rating-lower {
  padding: 0;
  display: flex;
  z-index: 0;
}

/* End of style for rating stars */
</style>

  <div class="ue-rating">
    <div class="ue-rating-upper" style="width: <%=media*10*2%>%;">
        <span>★</span>
        <span>★</span>
        <span>★</span>
        <span>★</span>
        <span>★</span>
    </div>
    <div class="ue-rating-lower">
        <span>★</span>
        <span>★</span>
        <span>★</span>
        <span>★</span>
        <span>★</span>
    </div>
</div>
<br>
<div>
<span><%= media %></span> <span>Based on <%= reviews.count %> reviews</span>
</div>
<br>
</div>

<% reviews.each do |review| %>
  <div class="review" style="border-bottom: 1px black solid; padding-top: 10px;">
    <div>
      <%= review.rating_stars(@shop.star_color) %>
    </div>
    <div style="padding-top:10px; padding-bottom: 10px;">
      <div>
        <b><%= review.title %> </b>
      </div>
      <div>
        <%= review.customer_name %>
      </div>
    </div>
    <div style="">
      <%= review.description %>
    </div>
    <div style="padding-bottom: 20px;">
      <div class="review-images-wrapper" data-review-id="<%= review.id %>">
        <% review.images.each do |image| %>
        
          <%= image_tag_remote(image.variant(resize: '100x100')) %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<div id='reviews-pagination'>
  <%= will_paginate @reviews , params: {daterange: @daterange} %>
</div>
<%# use js to prevent default and and make get with url %>

<%# <div class="ue-page-wrapper">
  <a class="btn ue-trigger" href="javascript:;">Click Me!</a>
</div> %>
<div class="ue-modal-wrapper">
  <div class="ue-modal">
    <div class="ue-head">
      <a class="ue-btn-close ue-trigger" href="javascript:;"></a>
    </div>
    <div class="ue-content">
      adsfasdf
    </div>
  </div>
</div>