<style>
/* Styles for modal pop up */
.ue-blur{
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.ue-modal-wrapper{
  width:100%;
  height:100%;
  position:fixed;
  top:0; left:0;
  background:rgba(47, 47, 47, 0.6);
  display: none;
  opacity:0;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.ue-modal-wrapper.open{
  opacity:1;
  display:inherit ;
}

/* TODO: make modal responsive */
.ue-modal{
  width:60vw;
  height:auto;
  min-height: 60vh;
  display:block;
  margin:50vh 0 0 -30vw;
  position:relative;
  top:150vh; left:50vw;
  background:#fff;
  opacity:0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.ue-modal-wrapper.open .ue-modal{
  margin-top:-200px;
  opacity:1;
}

.ue-head{
  overflow:hidden;
}

/* styles for x button to close modal */
.close {
    width: 40px;
    height: 40px;
    position: relative;
    margin-left: auto;
    cursor: pointer;
}
.close:after {
    content: '';
    height: 40px;
    border-left: 2px solid #000;
    position: absolute;
    transform: rotate(45deg);
    left: 24px;
}

.close:before {
    content: '';
    height: 40px;
    border-left: 2px solid #000;
    position: absolute;
    transform: rotate(-45deg);
    left: 24px;
}
/* end of styles for x button to close modal */

.ue-btn-close{
  width:32px;
  height:32px;
  display:block;
  float:right;
}


.ue-btn-close::before{
  margin-top:12px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  transform:rotate(45deg);
}

.ue-btn-close::after{
  margin-top:-6px;
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -o-transform:rotate(-45deg);
  transform:rotate(-45deg);
}

.ue-content{
  padding:2%;
}

/* End of styles for modal */

/* Start of styles for slideshow */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  right: -60px;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-size: 40px;
  user-select: none;
}

.prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  left: -60px;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-size: 40px;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: #fff !important;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* End of styles for slideshow */
.review-photo {
  cursor: pointer;
} 


.pagination {
  padding: 3px;
  margin: 3px;
}
.pagination a {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #aaaadd;
  text-decoration: none;
  color: #000099;
}
.pagination a:hover, .pagination a:active {
  border: 1px solid #000099;
  color: #000;
}
.pagination span.current {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #000099;
  font-weight: bold;
  background-color: #000099;
  color: #FFF;
}
.pagination span.disabled {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #eee;
  color: #ddd;
}

/* start of rating */

.ue-rating {
  display: inline-block;
  unicode-bidi: bidi-override;
  color: #efefef;
  font-size: 25px;
  height: 25px;
  width: auto;
  margin: 0;
  position: relative;
  padding: 0;
}

.ue-rating-upper {
  color: <%= @shop.star_color %>;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: flex;
  top: 0;
  left: 0;
  overflow: hidden;
}

.ue-rating-lower {
  padding: 0;
  display: flex;
  z-index: 0;
}

/* End of style for rating stars */


/* start of small rating */

.ue-small-rating {
  display: inline-block;
  unicode-bidi: bidi-override;
  color: #efefef;
  font-size: 20px;
  height: 20px;
  width: auto;
  margin: 0;
  position: relative;
  padding: 0;
}

.big-median {
  font-size: 40px;
  font-weight: 600;
}

.ue-review {
  border: 1px solid #eee;
  margin-bottom: 30px;
  padding-top: 25px;
  padding: 24px;
  background-color: #fafafa;
}

.ue-review-content {
  margin: 0 0 15px;
  clear: both;
}
/* End of style for small rating stars */

/* body.modal-open {
    overflow: hidden;
} */

.modal-window {
  position: fixed;
  /* display: none; */
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0
  pointer-events: none;
  transition: all 0.3s;
}
 .modal-window:target {
	 /* visibility: visible; */

}

.visible {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  display: inherit !important;
}


 .modal-window > div {
	 width: 60%;
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%, -50%);
	 padding: 2em;
	 background: #fff;
}
 .modal-window header {
	 font-weight: bold;
}
 .modal-window h1 {
	 font-size: 150%;
	 margin: 0 0 15px;
}
 .modal-close {
	 color: #aaa;
	 line-height: 50px;
	 font-size: 80%;
	 position: absolute;
	 right: 0;
	 text-align: center;
	 top: 0;
	 width: 70px;
	 text-decoration: none;
}
 .modal-close:hover {
	 color: black;
}
/* Demo Styles */


 a {
	 color: inherit;
}
 .ue-container {
	 display: grid;
	 justify-content: center;
	 align-items: center;
}
 .modal-window div:not(:last-of-type) {
	 margin-bottom: 15px;
}
 small {
	 color: #aaa;
}
 .btn {
	 background-color: #fff;
	 padding: 1em 1.5em;
	 border-radius: 3px;
	 text-decoration: none;
}
 .btn i {
	 padding-right: 0.3em;
}
</style>
          <div id="ue-customer-reviews-title" >
            <h2 style="margin-bottom: 0px;" >Customer Reviews</h2>
          </div>

  <div class="ue-rating">
    <div class="ue-rating-upper" style="width: <%=media*10*2%>%;">
        <span>★</span>
        <span>★</span>
        <span>★</span>
        <span>★</span>
        <span>★</span>
    </div>
    <div class="ue-rating-lower">
        <span>★</span>
        <span>★</span>
        <span>★</span>
        <span>★</span>
        <span>★</span>
    </div>
  </div>
  <br>
<div id="ue-total-review-description" style="" data-reviews-count="<%= reviews.count %>" data-reviews-median="<%= media %>">
  <span class="big-median"><%= media %></span> <span> Based on <%= reviews.count %> reviews</span>
</div>
<br>
</div>



<% reviews.each do |review| %>
  <div class="ue-review">
    <div class="ue-review-content">
    <div style="display: flex; justify-content: space-between; width: 100%;">
      <div class="col-md-10">
        <%= review.rating_stars(@shop.star_color) %>
      </div>
      <div class="col-md-2">
        <%= review.updated_at.strftime('%D') %>
      </div>
    </div>
    <div style="padding-top:10px; padding-bottom: 10px;">
      <div>
        <b><%= review.title.upcase %> </b>
      </div>
      <div>
        <%= review.customer_name_abbreviated %>
      </div>
    </div>
    <div style="">
      <%= review.description %>
    </div>
    <div>
      <div class="review-images-wrapper" data-review-id="<%= review.id %>">
        <% review.images.each do |image| %>
          <%= image_tag_remote(image.variant(resize: '100x100')) %>
        <% end %>
      </div>
    </div>
    </div>
  </div>
<% end %>
<div id='reviews-pagination'>
  <%= will_paginate @reviews , params: {daterange: @daterange} %>
</div>



<div class="ue-container">
  <div class="interior">
    <a class="btn" id="open-modal-btn" href="#open-modal">👋 Basic CSS-Only Modal</a>
  </div>
</div>
  <%# <div id="open-modal" class="modal-window">
  <div>
    <a href="#" title="Close" class="modal-close">Close</a>
    <h1>Voilà!</h1>
    <div>A CSS-only modal based on the :target pseudo-class. Hope you find it helpful.</div>
    <div><small>Check out</small></div>
    <a href="https://aminoeditor.com" target="_blank">👉 Amino: Live CSS Editor for Chrome</div>
    </div>
</div> %>




    <%# <div class="background-content">
        lengthy content here
    </div> %>
            
<script>
$('body').on('click', '#open-modal-btn',function(){
  $('.modal-window').addClass('visible');
})
$('body').on('click', 'a.modal-close',function(){
  $('.modal-window').removeClass('visible');
})
</script>
