
<div class="main-container">
  <h3 class="mb-0">Edit template content</h3>
    <div class="col-md-12 pl-0 pr-0">
      <%= form_for @template, url: templates_update_path({shop: @shop.shopify_domain, id: @template.id, type: @template.template_type, token: @token}), remote: true do |f| %>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>From:</label>
            <%= f.text_field :from, class: "form-control", type: "email", placeholder: "my_email@email.com", required: true %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Reply to:</label>
            <%= f.text_field :reply_to, class: "form-control", placeholder: "my_email@email.com", type: "email", required: true %>
          </div>
        </div>
      </div>
      <div>
        <div class="form-group pb-4">
          <label>Subject:</label>
          <%= f.text_field :subject, class: "form-control", placeholder: "Thank you for your visit", required: true %>
        </div>
      <div>
        <%= f.hidden_field :html %>
        <%= f.hidden_field :body %>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      </div>
    </div>
    <div id="editor-container" class="pb-4" style="width: 1024px; height: 600px;">
    </div>
      <div class="form-group text-center pb-5" style="display:none;">
        <button type="submit" class="btn btn-primary btn-round real-button" id="hidden-submit" ></button>
    </div>
    <% end %>
    <div class="form-group text-center pb-5">
      <button type="submit" class="btn btn-primary btn-round" id="save-template" >Save Template</button>
    </div>

</div>

<div id="valid-notation">
  Valid Notation:
  <div>
    <% @valid_code.each do |n| %>
    <%= "{{ #{n} }}" %>
    <% end %>
  </div>
<div>

<script>

  // Init Unlayer editor
  $(document).ready(function() {
    unlayer.init({
      id: 'editor-container',
      projectId: 3676,
      displayMode: 'email',
        mergeTags: {
          first_name: {
            name: "Customer first name",
            value: "{{first_name}}"
          },
          last_name: {
            name: "Customer last name",
            value: "{{last_name}}"
          }
        }
    }) 
    unlayer.loadDesign(<%= raw @template.body %>);
  }); 

  // Paste new values from editor into hidden fields
  // Hacky way to paste new values into hidden field still be able 
  // to use front end validation
  $('#save-template').on('click', function(){
    unlayer.exportHtml(function(data) {
      $('#template_body').val(JSON.stringify(data.design))
      $('#template_html').val(data.html)
      $('#hidden-submit').click();
    })
  })

</script>



