<div style="display: flex; justify-content: center;">
  <form action='<%="/review-submission/#{uuid}"%>' style="max-width: 320px;min-width: 500px;display: table-cell;vertical-align: top;">
    <div style="text-align: center; color: blue;">
      <input type="radio" id="five" name="review[rating]" value="5">
      <label for="five"><span style="font-size:17px;line-height:23px; color:<%= shop.star_color%>" class="pr-1">★★★★★</span></label>

      <input type="radio" id="four" name="review[rating]" value="4">
      <label for="four"><span style="font-size:17px;line-height:23px;color:<%= shop.star_color%>"  class="pr-1">★★★★</span></label>

      <input type="radio" id="three" name="review[rating]" value="3">
      <label for="three"><span style="font-size:17px;line-height:23px;color:<%= shop.star_color%>" class="pr-1">★★★</span></label>

      <input type="radio" id="two" name="review[rating]" value="2">
      <label for="tow"><span style="font-size:17px;line-height:23px;color:<%= shop.star_color%>"  class="pr-1">★★</span></label>

      <input type="radio" id="one" name="review[rating]" value="1">
      <label for="one"><span style="font-size:17px;line-height:23px;color:<%= shop.star_color%>" class="pr-1">★</span></label>
    </div>
    <br/>
    <label >Title of Review</label><br>
    <input type="text" id="title" name="review[title]" style="width: 100%; height: 25px; margin-bottom: 10px" maxlength="70"><br>
    <label >How was your overall experience using the item?</label><br>
    <textarea id="description" name="review[description]" style="width: 100%; min-height:100px;" maxlength="200"></textarea>
    <input type="hidden" id="review_status" name="review[review_status]" value="in_progress" style="width: 100%; height: 25px; margin-bottom: 10px"><br>
    <br><br>
    <div style="text-align: center">
      <button type="submit" class="button" style='background-color: <%= shop.form_button_color %>'>Submit Review</button>
    </div>
  </form>
</div>
<style>
  .button {
    padding: 10px !important;
    border-radius: 5px !important;
    color: white !important;
    font-weight: 500 !important;
  }
</style>