<!DOCTYPE html>
<html>
  <head>
    <title>Ultimate Emailer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://editor.unlayer.com/embed.js' %>
  </head>

  <body>
    <%= yield %>
    <footer class="text-center main-container" style="padding: 10px 0px; border: 2px solid #e0e2ee; border-radius: 5px; margin-bottom: 10px;"> V 1.0.0 © 2020 by <a href="#">AndyLabs</a></footer>
  </body>
</html>
